*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: black;
    color: white
}
#posts{
    width: 60%;
    margin: auto;
}
.post{
    border: 1px solid black;
}

.comments{
    display: none;
}
.comment-body{
    color: grey;
}